* {
  box-sizing: border-box;
}
body { 
  margin: 0;
  text-align: center;
  font-family: 'Roboto Slab',serif;
  font-size: 18px;
  color: rgb(73, 68, 68);
  height: 100vh;
  width:100%;
  padding:0px;
  overflow-x:hidden;
  
}
h1 {
  font-size: 550%;
  margin: 0;
  font-family: 'Sacramento',cursive;
  color: #f35ca2;
  line-height: 2;
  position: relative;
  bottom: 160px;
  
}
h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f35ca2;
  margin:0;
  }

h2 {
  font-size: 3rem;
  
}

h3 {
  font-size: 2rem;
  
}

#subtitle {
  color: #f35ca2;
  font-weight: normal;
  position: relative;
  bottom: 160px;

}

.top_container {
  background-color:#fdcfdf;
  position: relative;
  padding-top: 200px;
 }

.bottom-cloud {
  position: absolute;
  left: 120px;
  top: 120px; 
  opacity: 0.9;
  height: 260px;
  width: 250px;
  
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: -30px;
  height: 260px;
  width: 250px;
}

.mountain{
position: absolute;
left: 250px;
top: -32px;
opacity: 0.7;
height: 800px;
width: 1050px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: justify;
  line-height: 2;
}

.animation {
  width: 18%;
  float: left;
  margin-right: 30px;
  background-color: #bce6eb;
  border-radius: 50%;
  border: 2px #fca3cc solid;
  padding: 10px;

}

.coca {
  width: 18%;
  float: right;
  margin-left: 30px;
  background-color: #bce6eb;
  border-radius: 50%;
  border: 2px #fca3cc solid;
  padding: 10px;
}

.contact-btn {
  position: relative;
  bottom: 140px;
  color: #bce6eb;
  background-color: #fca3cc;
  border: 2px #bce6eb solid;
  font-size: 20px;
  padding: 10px;
  border-radius: 30%;

}
.contact-btn a {
  color: white;
  letter-spacing: 2px;
}

.profile {
  margin: 30px 250px 20px 250px;
}

.profile img {
  border-radius: 50px;
  border: 2px #fca3cc solid;
  background-color: #bce6eb;
}

#intro {
  width: 70%;
  margin: auto;
  padding-top: 30px;
}

p { 
  text-align: justify;
  line-height: 2;
}

hr {
  width: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
  border: 2px solid #bce6eb;
}

a {
  color: #0c8997;
}

.contact-me {
  margin: 30px 250px 20px 250px;
  line-height: 2;
}

.contact-me p {
  width: 70%;
  margin: auto;
}

.bottom_container{
  position: relative;
  left: 0px;
  bottom: 0px;
  height: 100px;
  width: 100%;
  background-color:#fdcfdf;
  text-align: center;
  color: white;
  padding-top: 10px;
}

#copyright {
  position: relative;
  left: 45%;
  font-size:14px;
  color: #da0f6d;

}
.footer-link{
  padding-right: 20px;
  text-decoration: none;
  
}
a:hover {
  color: rgb(189, 178, 178);
}