body { 
  margin: 0;
  text-align: center;
  
}
h1 {
  margin-top: 0;
  
}


.top_container {
  background-color: pink;
  position: relative;
  padding-top: 100px;
}

.middle_container {
  background-color: red;
  width: 200px;
  height: 200px;
}

.bottom_container {
  background-color: green;
  width: 200px;
  height: 200px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;

  
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}